*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    background:#FFF8FB;
    color:#444;
    line-height:1.7;
}

header{
    background:#FFDCEB;
    position:sticky;
    top:0;
    z-index:1000;
    box-shadow:0 3px 12px rgba(0,0,0,.08);
}

.navbar{
    max-width:1200px;
    margin:auto;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:18px 20px;
}

.logo{
    font-family:'Playfair Display',serif;
    font-size:30px;
    color:#d86a9d;
    font-weight:bold;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.navbar a{
    text-decoration:none;
    color:#555;
    font-weight:500;
}

.hero{
    text-align:center;
    padding:90px 20px;
    background:linear-gradient(#FFEAF3,#FFF8FB);
}

.hero h1{
    font-size:52px;
    color:#d86a9d;
    margin-bottom:20px;
}

.hero p{
    max-width:700px;
    margin:auto;
    font-size:18px;
}

.hero-buttons{
    margin-top:35px;
}

.btn,
.btn-outline{
    display:inline-block;
    margin:10px;
    padding:14px 28px;
    border-radius:40px;
    text-decoration:none;
    transition:.3s;
}

.btn{
    background:#d86a9d;
    color:white;
}

.btn:hover{
    transform:translateY(-3px);
}

.btn-outline{
    border:2px solid #d86a9d;
    color:#d86a9d;
}

.categories{
    padding:70px 20px;
    max-width:1200px;
    margin:auto;
}

.categories h2{
    text-align:center;
    margin-bottom:45px;
    color:#d86a9d;
}

.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.card{
    background:white;
    border-radius:22px;
    padding:30px;
    text-align:center;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.card:hover{
    transform:translateY(-8px);
}

.card h3{
    color:#d86a9d;
    margin-bottom:15px;
}

.card a{
    display:inline-block;
    margin-top:20px;
    color:#d86a9d;
    font-weight:bold;
    text-decoration:none;
}

.products{
    max-width:1200px;
    margin:60px auto;
    padding:0 20px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:30px;
}

.product-card{
    background:white;
    border-radius:22px;
    overflow:hidden;
    box-shadow:0 8px 25px rgba(0,0,0,.08);
    text-align:center;
    transition:.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card img{
    width:100%;
    display:block;
}

.product-card h3{
    color:#d86a9d;
    margin:18px 0 10px;
}

.product-card p{
    padding:0 20px;
    margin-bottom:20px;
}

footer{
    background:#FFDCEB;
    text-align:center;
    padding:30px;
    margin-top:60px;
}
